@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom thin scrollbar */
body {
  scrollbar-width: thin;
  scrollbar-color: #facc15 #e5e7eb;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background: #facc15;
  border-radius: 8px;
}
body::-webkit-scrollbar-track {
  background: #e5e7eb;
}
